:root {
  --color-gold: #c0a46b;
  --color-green: #0d6763;
  --color-red: #c85c41;

  --color-bg-green: #f2faf7;

  --color-black: #333333;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-light: #dddddd;
  --color-grey-lighter: #f6f6f6;
  --color-white: #ffffff;

  --color-gold-hover: color(#c0a46b shade(5%));
  --color-green-hover: color(#0d6763 shade(5%));

  --color-line-grey-light: rgba(0, 0, 0, 0.08);
  --color-line-grey: rgba(0, 0, 0, 0.16);
  --color-line-grey-dark: rgba(0, 0, 0, 0.24);

  --font-sans-tc: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang TC',
    'Microsoft YaHei', 'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', sans-serif;
  --font-sans-sc: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
  --font-serif-tc: 'Noto Serif', 'Noto Serif CJK TC', 'Source Han Serif TC', 'Songti TC', serif;
  --font-serif-sc: 'Noto Serif', 'Noto Serif CJK SC', 'Source Han Serif SC', 'Songti SC', serif;
  --font-mono: Menlo, 'SFMono-Regular', Consolas, monaco, monospace;

  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-xm: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  --font-size-article-base: 1rem; /* 16px; */
  --line-height-article-base: 1.875; /* 30/16 */

  --font-size-article-h1: 1.375; /* 22px */
  --font-size-article-h2: var(--font-size-lg); /* 20px */
  --font-size-article-h3: var(--font-size-xm); /* 18px */
  --font-size-article-h4: var(--font-size-md); /* 16px */
  --font-size-article-h5: var(--font-size-sm); /* 14px */
  --font-size-article-h6: var(--font-size-xs); /* 12px */
  --line-height-article-heading: 1.4;

  --shadow-light: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  --shadow-dark: 0 12px 24px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  --shadow-default: 0 4px 12px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08);

  --sizing-root: 16px;
  --sizing-menu-md: 20.5rem;
  --sizing-menu-sm: 10.5rem;

  --spacing-xx-tight: 0.25rem; /* 4px */
  --spacing-x-tight: 0.5rem; /* 8px */
  --spacing-tight: 1rem; /* 16px */
  --spacing-default: 1.5rem; /* 24px */
  --spacing-loose: 2rem; /* 32px */
  --spacing-x-loose: 2.5rem; /* 40px */
}

html {
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  border: 0;
  width: 100%;
  outline: none;
}

code,
kbd,
samp,
pre {
  background: var(--color-grey-lighter);
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

/********** Editor Styles **********/

@define-mixin all-transition {
  transition: all 0.2s ease-in-out;
}

@define-mixin border-bottom-grey {
  border-bottom: 1px solid var(--color-line-grey-light);
}

@define-mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@define-mixin flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@define-mixin inline-flex-center-all {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@define-mixin text-input {
  @mixin all-transition;

  padding: var(--spacing-x-tight) var(--spacing-tight);

  font-size: var(--font-size-sm); /* fallback */
  font-size: calc(var(--font-size-sm) + 1px);
  line-height: 1.5rem;

  background-color: var(--color-grey-lighter);
  border-top-right-radius: 0.15rem;
  border-top-left-radius: 0.15rem;
  border-bottom: 1px solid var(--color-grey-light);

  &:focus,
  &.focus {
    background-color: var(--color-bg-green);
    border-bottom-color: var(--color-green);
  }

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }
}

@define-mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@custom-media --sm-up (min-width: 768px);

.editor-title {
  & input {
    @mixin border-bottom-grey;
    margin-bottom: var(--spacing-default);
    padding-bottom: var(--spacing-tight);

    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
    line-height: 1.33333333;

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }
}

.editor-summary {
  margin-bottom: var(--spacing-x-tight);

  & :global(textarea) {
    padding: var(--spacing-x-tight) 0 0;
    font-size: var(--font-size-xm);
    line-height: var(--line-height-article-base);
    resize: none;

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }

  & .counter {
    color: var(--color-grey-light);
    font-size: var(--font-size-xs);
    text-align: right;
  }

  & .error {
    color: var(--color-red);
  }
}

.editor-collapsed-input {
  @mixin text-input;
  height: 2.5rem;
}

#editor-article-container .ql-editor {
  white-space: pre-wrap;
  line-height: var(--line-height-article-base);

  & :global(> * + *) {
    margin: var(--spacing-default) 0;
  }
  & :global(> *:first-child) {
    margin-top: 0;
  }
  & :global(> *:last-child) {
    margin-bottom: var(--spacing-default);
  }

  /* Media
   ========================================================================== */
  & :global(img, video, audio) {
    display: block;
    margin: 0 auto;
    /* max-height: 100vh; */
    /* background: var(--color-grey-lighter); */
  }

  /* Figure
   ========================================================================== */
  & :global(figure) {
    margin: var(--spacing-loose) calc(var(--spacing-tight) * -1);
    text-align: center;

    @media (--sm-up) {
      margin-left: 0;
      margin-right: 0;
    }

    & :global(figcaption) {
      margin-top: var(--spacing-x-tight);
      padding: 0 var(--spacing-tight);

      font-size: var(--font-size-sm); /* fallback */
      font-size: calc(var(--font-size-sm) - 1px);
      color: var(--color-grey);
      white-space: pre-wrap;

      @media (--sm-up) {
        padding: 0;
      }
    }
  }

  /* Audio
   ========================================================================== */
  & :global(figure.audio) {
    margin-left: 0;
    margin-right: 0;

    & audio {
      display: none;
    }

    & .player {
      position: relative;
      padding: var(--spacing-tight);

      background: var(--color-white);
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: var(--shadow-light);
      border-radius: 2px;
      text-align: left;

      & header {
        @mixin flex-start-space-between;

        & .meta {
          @mixin truncate;
        }

        & .title {
          margin: 0;
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-medium);
          outline: none;
        }

        & .time {
          color: var(--color-grey-dark);
          font-size: var(--font-size-xs);

          & .current,
          & .duration {
            &::before {
              content: attr(data-time);
            }
          }
          & .current[data-time] {
            &::after {
              content: ' / ';
            }
          }
        }

        & .play {
          flex-shrink: 0;
          align-self: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-left: var(--spacing-tight);

          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em02Ljk0LTE4YzAgLjMzLS4zMy41Ny0uMzMuNTdsLTkuNTIgNS45Yy0uNjkuNDUtMS4yNi4xMS0xLjI2LS43NVYxNC4yOGMwLS44Ni41Ny0xLjIgMS4yNi0uNzRsOS41MiA1Ljg5cy4zMy4yNC4zMy41N3oiLz48L3N2Zz4=);
          cursor: pointer;

          &.paused {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em00LjA2LTI0LjI1Yy41MiAwIC45NC40Mi45NC45NFYyNS4zYzAgLjUyLS40Mi45NC0uOTQuOTRIMjIuMmEuOTQuOTQgMCAwIDEtLjk0LS45NFYxNC43YzAtLjUyLjQyLS45NC45NC0uOTRoMS44N3ptLTUuMzEuOTRWMjUuM2MwIC41Mi0uNDIuOTQtLjk0Ljk0aC0xLjg3YS45NC45NCAwIDAgMS0uOTQtLjk0VjE0LjdjMC0uNTIuNDItLjk0Ljk0LS45NGgxLjg3Yy41MiAwIC45NC40Mi45NC45NHoiLz48L3N2Zz4=);
          }
          &.loading:not(:hover, :focus) {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNMCAwaDMydjMySDB6Ii8+ICAgIDxwYXRoIHN0cm9rZT0iI0RERCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMiAxNkExNCAxNCAwIDEgMCAxNiAyIi8+ICA8L2c+PC9zdmc+);
            animation: spinning 1s infinite linear;
          }
        }
      }

      & footer {
        & .progress-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;

          background-color: transparent;
          cursor: pointer;

          & > span {
            @mixin all-transition;
            display: block;
            width: 0;
            height: 4px;
            background-color: var(--color-green);
            text-indent: -9999px;
          }
        }
      }
    }
  }

  /* Embed
   ========================================================================== */
  & :global(figure[class*='embed']) {
    position: relative;

    & > .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: var(--color-grey-lighter);

      & iframe {
        @mixin cover;
        width: 100%;
        height: 100%;
      }
    }

    /* fit legacy iframe */
    & > iframe {
      width: 100%;
      height: 24rem;
    }
  }
  & :global(figure.embed-code.likebutton) {
    & > .iframe-container {
      height: 200px;
      background: transparent;
      padding-top: 0;
    }
  }

  /* Blockquote
   ========================================================================== */
  & :global(blockquote) {
    position: relative;
    padding: 0 var(--spacing-tight);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 4px;
      height: 100%;
      background: var(--color-gold);
    }
  }

  /* List
   ========================================================================== */
  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-loose);
  }
  & :global(li) {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-tight) 0;
  }
  & :global(ul) {
    list-style-type: disc;
  }
  & :global(ol) {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & :global(h1) {
    font-size: var(--font-size-article-h1);
  }
  & :global(h2) {
    font-size: var(--font-size-article-h2);
  }
  & :global(h3) {
    font-size: var(--font-size-article-h3);
  }
  & :global(h4) {
    font-size: var(--font-size-article-h4);
  }
  & :global(h5) {
    font-size: var(--font-size-article-h5);
  }
  & :global(h6) {
    font-size: var(--font-size-article-h6);
  }

  & :global(h1),
  & :global(h2),
  & :global(h3),
  & :global(h4),
  & :global(h5),
  & :global(h6) {
    margin-top: var(--spacing-loose);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & :global(a) {
    color: var(--color-green);
    border-bottom: 1px solid currentcolor;
    padding-bottom: 2px;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-green-hover);
    }
  }
  /* fix frequent misuse of links */
  & :global(u > a, ins > a) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & :global(hr) {
    display: block;

    width: 10rem;
    height: 0.25rem;
    margin: var(--spacing-loose) auto;

    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}

#editor-article-container {
  position: relative;

  & :global(.ql-editor) {
    min-height: 50vh;
  }
}

#editor-article-container .ql-editor {
  & input.embed-clipboard {
    line-height: 1.875;
    font-size: inherit;
  }

  & figure figcaption {
    font-size: 0;

    & textarea {
      font-size: var(--font-size-sm); /* fallback */
      font-size: calc(var(--font-size-sm) - 1px);
      text-align: center;
      resize: none;
      overflow: hidden;
    }
  }
}

#editor-article-container .spinner,
#editor-comment-container .spinner {
  stroke: var(--color-grey-light);
}

#editor-comment-container .ql-editor {
  white-space: pre-wrap;
  line-height: 1.6;

  & :global(> * + *) {
    margin: var(--spacing-tight) 0;
  }
  & :global(> *:last-child) {
    margin-bottom: var(--spacing-tight);
  }

  /* Media
   ========================================================================== */
  & :global(img, video, audio) {
    display: block;
    margin: 0 auto;
    /* max-height: 100vh; */
  }

  /* Figure
   ========================================================================== */
  & :global(figure) {
    text-align: center;

    & :global(figcaption) {
      margin-top: var(--spacing-x-tight);
      padding: 0 var(--spacing-tight);

      font-size: var(--font-size-sm); /* fallback */
      font-size: calc(var(--font-size-sm) - 1px);
      color: var(--color-grey);

      @media (--sm-up) {
        padding: 0;
      }
    }
  }

  /* Blockquote
   ========================================================================== */
  & :global(blockquote) {
    width: 100%;
    padding: 0 var(--spacing-tight);

    color: var(--color-gold);
    font-size: var(--font-size-sm);
    line-height: 2;

    @media (--sm-up) {
      padding: 0 var(--spacing-default);
    }
  }

  /* List
   ========================================================================== */
  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-default);
  }
  & :global(li) {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-x-tight) 0;
  }
  & :global(ul) {
    list-style-type: disc;
  }
  & :global(ol) {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & :global(h1) {
    font-size: var(--font-size-article-h1);
  }
  & :global(h2) {
    font-size: var(--font-size-article-h2);
  }
  & :global(h3) {
    font-size: var(--font-size-article-h3);
  }
  & :global(h4) {
    font-size: var(--font-size-article-h4);
  }
  & :global(h5) {
    font-size: var(--font-size-article-h5);
  }
  & :global(h6) {
    font-size: var(--font-size-article-h6);
  }

  & :global(h1),
  & :global(h2),
  & :global(h3),
  & :global(h4),
  & :global(h5),
  & :global(h6) {
    margin-top: var(--spacing-default);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & :global(a) {
    color: var(--color-green);
    border-bottom: 1px solid currentcolor;
    padding-bottom: 2px;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-green-hover);
    }
  }
  /* fix frequent misuse of links */
  & :global(u > a, ins > a) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & :global(hr) {
    display: block;

    width: 10rem;
    height: 0.125rem;
    margin: var(--spacing-default) auto;

    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}

#editor-comment-container {
  @mixin text-input;

  position: relative;

  & :global(.ql-editor) {
    min-height: 4rem;
  }
}

:root {
  --side-toolbar-button-size: 2rem;
}

.toolbar-container {
  @mixin all-transition;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;

  transform: translateY(calc(var(--spacing-x-tight) * -1));
  opacity: 0;

  &.toolbar-visible {
    opacity: 1;
  }
  &.toolbar-expanded {
    & .toolbar-items {
      display: inline-flex;
      opacity: 1;
    }
  }

  @media (--sm-up) {
    right: auto;
    left: calc((var(--side-toolbar-button-size) + var(--spacing-tight)) * -1);
  }
}

.toolbar-items {
  @mixin all-transition;

  display: none;
  margin-left: var(--spacing-tight);

  opacity: 0;

  & > :global(* + *) {
    cursor: pointer;
    margin-left: var(--spacing-tight);
  }

  & :global(button) {
    background: transparent;
  }

  & :global(svg) {
    background: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    stroke: var(--color-black);
  }
}

.toolbar-expanded {
  & .toolbar-toggle-button {
    transform: rotate(45deg);
  }
}

.toolbar-toggle-button {
  @mixin all-transition;
  background: transparent;
  stroke: var(--color-black);
}

.toolbar-upload-container {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;

  & input {
    font-size: 0;
    position: absolute;
    left: -99999px;
  }
}

.mention-container {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--sizing-menu-md);

  color: var(--color-black);
  border-radius: 2px;
  background: var(--color-white);
  box-shadow: var(--shadow-dark);
  border: 1px solid var(--color-line-grey-light);
  z-index: 1;
}

.u-motion-icon-hover {
  @mixin all-transition;

  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}

.u-motion-spin {
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.u-area-disable {
  cursor: not-allowed;
  opacity: 0.5;

  & > * {
    pointer-events: none;
  }
}
